@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather&family=Work+Sans&display=swap');

html {
  scroll-behavior: smooth;
}

#prahaMap {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 5rem 0 1rem 0;
  display: block;
  z-index: 1;
  box-sizing: border-box;
  max-width: 75rem;
}

#map {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

/* Prague disctricts - hidden */
#pragueList {
  /*display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);*/
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 1rem 2rem;
  gap: 1rem 3rem;
  font-size: 2rem;
  list-style: none;
}

#districts {
  font-size: 2rem;
  text-align: center;
  max-width: 60%;
}

#districts > h1 {
  margin-bottom: 2rem;
}

#pragueList li {
  grid-column: span 1;
}

#pragueList > a {
  color:#10162F;
}

#pragueList > a:hover {
  color: #3A10E5;
}

#pragueList li:nth-child(10) {
  grid-column: 2 / 3; /* Centering item10 by spanning 2nd and 3rd columns */
  justify-self: center;
}


.stroke0  {
  fill:#10162F;
  stroke:#FFFFFF;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

.stroke1  {
  fill: none;
  stroke:#FFFFFF;
  stroke-width: 1.5;
}

.stroke2  {
  fill: none;
  stroke:#009DD6;
  stroke-width: 3.5;
  stroke-miterlimit: 10;
}

.stroke3  {
  fill: none;
  stroke:#009DD6;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.circle  {
  fill:#FFD300;
}
  
.circle:hover {
  fill: #E02636;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.stroke0:hover {
  fill: #3A10E5;
  cursor: pointer;
  transition: fill 0.3s ease;
}

/* Praha map */

* {
  font-family: 'Karla', sans-serif;
  /* box-sizing: border-box;*/
}

body {
  margin: 0;
  background-color: #FFE7D6;

background-blend-mode: multiply;
}

.menu {
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  border-bottom: 2.5px solid #10162F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
  
}

.logoNav {
    margin: auto 0;
    color: #10162F;
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-flex;
}


.logoNav > a {
    text-decoration: none;
}

.logoTextFlex {
  display: flex;
}

.nav {
  margin: auto 0;
}

#logoText {
  color: #10162F;
  margin: auto 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}


#logoText > a > span:hover {
  color: #3A10E5;
}

.nav > a {
  text-decoration: none;
}

.nav > a > span {
  color: #10162F;
  margin: 0 1.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

/* What belongs that?
.active .nav > a > span {
  color: #ffd300;
  border-bottom: 5px solid;
}
*/

.navItem:hover {
  color:#3A10E5;
}


#logo {
  max-width: 4rem;
  padding-top: 0.25rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #FFD300;
  margin-top: 10px;
}

#footer > p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem 0;
}

.nav .active {
  border-bottom: 6px solid #3A10E5;
  padding-bottom: 0.75rem;
}


/*hover přes circles*/
#hover-info {
  display: none;
  background-color: #ffffff; /* bezova #FFF0E5*/
  border: 3px solid #10162F;
  outline: 2.5px solid rgb(255, 255, 255);
  width: 10rem;
  height: 8rem;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; /* Ensures the container appears on top of other elements */
  opacity: 0;
  transition: opacity 0.25s ease-in; /* Transition display property over 1.5 seconds */
}

/* Section pragueDistricts */

.prague1 {
  max-width: 27%;
  margin: 20px auto;
}

.prague2 {
  max-width: 20%;
  margin: 20px auto;
}

.prague3 {
  max-width: 34%;
  margin: 20px auto;
}

.prague4 {
  max-width: 75%;
  margin: 20px auto;
}

.prague5 {
  max-width: 75%;
  margin: 20px auto;
}

.prague6 {
  max-width: 80%;
  margin: 20px auto;
}

.prague7 {
  max-width: 30%;
  margin: 20px auto;
}

.prague8 {
  max-width: 50%;
  margin: 20px auto;
}

.prague9 {
  max-width: 95%;
  margin: 20px auto;
}

.prague10 {
  max-width: 92%;
  margin: 20px auto;
}

.halftone {
  width: 50%;
  height: 2rem;
  margin: 0 auto;
  background-image: radial-gradient(
    circle at center,
    black 0.1rem,
    transparent 0
  );
  background-size: 0.75rem 0.75rem;
  background-repeat: round;
}

/* Section quiz*/

#quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  padding: 0 10px;
  font-family: 'Karla', sans-serif;
}

.quiz-h1 {
  font-size: 3rem;
  text-align: center;
  max-width: 60%;
}

#icon-vysehrad {
  width: 4rem;
}

#about > h1 {
    font-size: 3rem;
    text-align: center;
    max-width: 60%;
    margin: 2rem auto;
}

#weather > h1 {
  font-size: 3rem;
  text-align: center;
  max-width: 60%;
  margin: 2rem auto;
}